<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./rest.js"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="list in lists" @click="() => removeTodo(list.id)">
          {{ list.title }}
        </li>
      </ul>
      <input ref="todo" v-model="todo" />
      <button @click="addTodo">Submit</button>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          lists: "",
          todo: ""
        },
        mounted() {
          this.getTodoLists();
        },
        methods: {
          getTodoLists() {
            api
              .get("https://localhost:5001/api/todolists/")
              .then(data => data.json())
              .then(json => (this.lists = json));
          },
          addTodo() {
            api
              .post("https://localhost:5001/api/todolists", {
                title: this.todo
              })
              .then(data => data.json())
              .then(json => this.lists.push(json));

            this.todo = "";
            this.$refs.todo.focus();
          },
          removeTodo(id) {
            fetch("https://localhost:5001/api/todolists/" + id, {
              method: "DELETE",
              headers: {
                "Content-Type": "Application/Json"
              }
            }).then(() => this.getTodoLists());
          }
        }
      });
    </script>
  </body>
</html>
